*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  font-size: 62.5%;
  height: 100%;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  color: #2c3e50;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: linear-gradient(rgb(22, 160, 133), rgba(22, 160, 133, 0.7)) no-repeat;
  overflow: hidden;
}
.form-wrapper {
  background-color: #fff;
  padding: 2.5rem;
  width: 40rem;
  border-radius: 0.5rem;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
nav .nav-link {
  text-decoration: none;
  color: #2c3e50;
  margin: 0 2rem;
  font-size: 1.8rem;
  transition: all 0.2s;
}
nav .nav-link.active,
nav .nav-link:hover {
  color: #16a085;
}
nav .nav-link:after {
  content: '';
  display: block;
  width: 90%;
  border-bottom: 2px solid transparent;
  margin: 0.5rem auto;
}
nav .nav-link.active:after {
  border-color: #16a085;
}
.form-group {
  width: 100%;
  margin-bottom: 1rem;
}
.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}
.form-group label:after {
  content: '*';
  color: #c0392b;
}
.form-group input {
  padding: 1rem 0.5rem;
  border: 1px solid rgba(52, 73, 94, 0.4);
  width: 100%;
  border-radius: 0.25rem;
  font-size: 2rem;
  transition: all 0.1s ease-in;
  color: #2c3e50;
}
.form-group input:focus {
  outline: none;
  border: 1px solid rgba(41, 128, 185, 1);
}

button#submit-btn {
  width: 100%;
  display: block;
  background-color: #16a085;
  color: #fff;
  padding: 1rem;
  border: none;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease-in;
  font-size: 2rem;
  text-transform: uppercase;
}
button#submit-btn:focus {
  outline: none;
}
button#submit-btn:hover {
  cursor: pointer;
  background-color: #1abc9c;
}
.form-group.has-error input {
  border-color: #c0392b;
}
.form-group.has-error.weak input {
  border-color: #d35400;
}
.form-group span.error {
  color: #c0392b;
  font-size: 1.2rem;
  opacity: 0;
  height: 0;
  visibility: hidden;
  transition: all 0.2s ease-in;
}
.form-group span.error.weak {
    color: #d35400;
  }
.form-group.has-error span.error {
  opacity: 1;
  height: unset;
  visibility: visible;
}
